extends layout 

block main-content
      section.hero
        h1 Welcome to Temu! 
        p Your one-stop shop for all the latest trends.

      section.products
        h2 Featured Products

        .product-container
          .product
            //Product 1
            img(src=" ./CSS/images/product-1.jpg", alt="Product 1")

            //Product 1 Image Source
            //Image source: https://m.media-amazon.com/images/I/71nGtbEiuXL._AC_UF1000,1000_QL80_.jpg

            h3 Scandinavian Tomte Doll
            p $49.99

          .product
            //Product 2
            img(src='/CSS/images/product-2.jpg', alt='Product 2')

            //Product 2 Image Source
            //https://www.temu.com/ca/moon_subject/n9.html?subj=googleshopping-landingpage&_bg_fs=1&_p_rfs=1&_x_ads_channel=google&_x_ads_sub_channel=shopping&_x_login_type=Google&_x_vst_scene=adg&mkt_rec=1&goods_id=601099530131081&sku_id=17592275461215&_x_ns_sku_id=17592275461215&_x_gmc_account=695390730&_x_ads_account=6910707695&_x_ads_set=20816156384&_x_ads_id=154775982663&_x_ads_creative_id=682836275438&_x_ns_source=g&_x_ns_gclid=Cj0KCQiA2eKtBhDcARIsAEGTG40cUITEu56etmnJ-M72yBIAfGwnsmLlYrl2JwDOhOkBUHEvi5yC9lsaAnAHEALw_wcB&_x_ns_placement=&_x_ns_match_type=&_x_ns_ad_position=&_x_ns_product_id=17592275461215&_x_ns_target=&_x_ns_devicemodel=&_x_ns_wbraid=CjgKCAiAtt2tBhBoEigA3SlUpUtK6i80vVKMq5_kubKMCqSL9YwQ1P5PEO6Lfk7x3bkzy-n-GgK8YA&_x_ns_gbraid=0AAAAAo4mICF1PHGIzNst_sWbMVux4Zv-Y&_x_ns_targetid=pla-2201012556945&gad_source=1&gclid=Cj0KCQiA2eKtBhDcARIsAEGTG40cUITEu56etmnJ-M72yBIAfGwnsmLlYrl2JwDOhOkBUHEvi5yC9lsaAnAHEALw_wcB&adg_ctx=f-e011b7fd
            h3 Hot Water Bag With Soft Cover
            p $39.99

          .product
            //Product 3
            img(src='/CSS/images/product-3.jpg', alt='Product 3')

            //Product 3 Image Source
            //Image source: https://img.kwcdn.com/product/cartoon-succulent-flower-pot/d69d2f15w98k18-1d369f60/Fancyalgo/VirtualModelMatting/13f59cea6a8293b0942c97f60270e796.jpg
            
            h3 Fancy Flower Pot 
            p $59.99